@let itemResponse = toDoItems();
@let list = toDoList();

<div class="todo-list-view__container flex flex-col h-full px-7 py-11">
    <div class="todo-list-view__header-wrapper flex mb-7">
        <img class="todo-list-view__header-image" src="ListIcon.png" alt="" width="48px">
        <div class="todo-list-view__header-text-wrapper">
            @if (isEditList()) {
            <form class="todo-list-view__edit-form flex gap-4" (submit)="onListEditSubmit($event)">
                <div class="todo-list-view__edit-input-wrapper flex flex-col gap-1">
                    <input class="todo-list-view__edit-input primary-input" type="text" placeholder="title"
                        [formField]="editListForm.title">
                    <input class="todo-list-view__edit-input primary-input" type="text" placeholder="description"
                        [formField]="editListForm.description">
                </div>
                <div class="todo-list-view__edit-actions flex gap-1">
                    <button class="todo-list-view__edit-submit form-submit px-4" type="submit">Submit</button>
                    <button class="todo-list-view__edit-cancel form-cancel px-4" type="button"
                        (click)="onListEditCancel()">Cancel</button>
                </div>
            </form>
            } @else {
            <p class="todo-list-view__header-text-title font-bold text-xl">{{list?.title}}</p>
            <p class="todo-list-view__header-text-description text-gray-600 text-sm">{{list?.description}}</p>
            }
        </div>
        <div class="todo-list-view__actions flex gap-1 ml-auto">
            <button class="todo-list-actions-edit edit-button" (click)="onListEditButtonClick()">Edit list</button>
            <button class="todo-list-actions-delete delete-button" (click)="onListDeleteButtonClick()">Delete list</button>
        </div>
    </div>

    <div class="todo-list-view__item-list-wrapper flex flex-col gap-2">
        @for (item of itemResponse?.items; track item.id) {
        <app-todo-item-list [toDoItem]="item" />
        }
    </div>

    <div class="todo-list-view__actions-wrapper mt-auto">
        <div class="todo-list-view__actions-add flex items-center gap-2 p-2">
            <img class="todo-list-view__actions-add-image cursor-pointer" src="AddIcon.svg" alt="" width="24px" (click)="onItemCreateSubmit($event)">
            <form class="todo-list-view__actions-add-form w-full" (submit)="onItemCreateSubmit($event)" (keydown.escape)="onItemCreateClear()">
                <input class="todo-list-view__actions-add-input w-full" type="text" placeholder="Create task"
                    [formField]="createItemForm.title">
            </form>
            <i class="bi bi-x text-xl cursor-pointer" (click)="onItemCreateClear()"></i>
        </div>
    </div>
</div>