<div class="todo-page flex flex-row h-full">
    <div class="todo-sidebar px-5 flex flex-col mt-5">
        <div class="todo-sidebar__user-wrapper flex flex-row mb-4">
            <img class="todo-sidebar__user-image mr-2" src="UserIcon.png" alt="User icon" width="48px">
            <div class="todo-sidebar__user-info-wrapper flex flex-col justify-center">
                <p class="todo-sidebar__user-info-name font-bold">User</p>
                <p class="todo-sidebar__user-info-gmail text-sm text-gray-500">User@gmail.com</p>
            </div>
        </div>

        <div class="todo-sidebar__search-lists-wrapper mb-4">
            <form class="todo-sidebar__search-lists-form flex items-center" action="">
                <input class="todo-sidebar__search-lists-input" type="text" name="search-lists" id="search-lists"
                    placeholder="Пошук" />
                <button class="todo-sidebar__search-lists-button" type="submit">
                    <img class="todo-sidebar__search-lists-icon" src="SearchIcon.svg" alt="search-icon">
                </button>
            </form>
        </div>

        <div class="todo-sidebar__system-lists-wrapper">
            @for (systemList of toDoSidebarSystemLists; track systemList.id) {
            <app-todo-sidebar-list [toDoSidebarList]="systemList" />
            }
        </div>

        <hr />

        <div class="todo-sidebar__user-lists-wrapper">
            @for (userList of toDoSidebarUserLists; track userList.id) {
            <app-todo-sidebar-list [toDoSidebarList]="userList" />
            }
        </div>

        <div class="todo-sidebar__actions-wrapper mt-auto mb-6">
            <button class="todo-sidebar__actions-add-list flex gap-3 p-2" type="button">
                <img class="todo-sidebar__actions-add-list-image" src="AddIcon.svg" alt="Add icon" width="24px">
                <p class="todo-sidebar__actions-add-list-text">Створити список</p>
            </button>
        </div>
    </div>

    <section class="todo-container">
        <app-todo-list-view [toDoList]="currentList" />
    </section>
</div>