.todo-item-list {

    &__wrapper {
        border-radius: 8px;
        background-color: #FFF2F2;
        transition: background-color ease-in-out 200ms;


        &:hover {
            background-color: #f5ebeb;
        }
    }

    &__complete-task-checkbox {
        display: inline-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        input {
            display: none;
        }

        span {
            width: 20px;
            height: 20px;
            border: 2px solid #9ca3af;
            border-radius: 50%;
            transition: 0.2s;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                &::after {
                    content: '✓';
                    color: #9ca3af;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

        input:checked+span {
            background-color: #3b82f6;
            border-color: #3b82f6;

            &:after {
                content: '✓';
                color: white;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }

    &__important {

        &-star {
            cursor: pointer;

            input {
                display: none;
            }

            span {
                font-size: 28px;
                color: #9ca3af;
                transition: color ease-in-out 200ms;
            }

            span:hover {
                color: #facc15;
            }

            input:checked+span {
                color: #facc15;
            }
        }
    }
}