<div class="todo-item-list__wrapper flex p-3 gap-3 items-center">
    <div class="todo-item-list__complete-task-wrapper flex items-center">
        <label class="todo-item-list__complete-task-checkbox">
            <input type="checkbox" name="complete-task-checkbox" id="complete-task">
            <span></span>
        </label>

    </div>

    <p class="todo-item-list__text">{{toDoItem().title}}</p>

    <div class="todo-item-list__important-wrapper ml-auto">
        <label class="todo-item-list__important-star">
            <input type="checkbox">
            <span>★</span>
        </label>
    </div>
</div>