<section class="todo-item-view">
    <div class="todo-item-view__container">
        <div class="todo-item-view__header">
            <form class="todo-item-view__header-form" action="">
                <div class="todo-item-view__header-item">
                    <input class="todo-item-view__header-complete" type="checkbox">
                    <input class="todo-item-view__header-title" type="text">
                    <input class="todo-item-view__header-important" type="checkbox">
                </div>
                <div class="todo-item-view__header-sub-item">
                    <button class="todo-item-view__header-sub-item-add">Add sub task</button>
                </div>
            </form>
        </div>
    </div>
</section>